body {
  margin: 0px;
}

.App {
  a {
    text-decoration: none;
    color: #000;
  }
  .nav {
    display: flex;
    background-color: #131921;
    align-items: center;
    justify-content: space-between;
    img {
      height: 40px;
      margin-left: 5px;
    }
    .nav-bar {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-right: 26%;
      height: 50px;
      align-items: center;
      a {
        color: white;
        font-size: 20px;
        margin: 0px 40px 0px 40px;
      }
      a:hover {
        color: grey;
      }
    }
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      background-color: #ffd814;
      height: 40px;
      width: 150px;
      box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
    }
    .button:hover {
      background-color: #f7ca01;
    }
  }
  .products {
    .sort-and-filter-container {
      background-color: #242f3f;
      color: white;
      display: flex;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 60px;
      .sort-options {
        display: flex;
        align-items: center;
        select {
          height: 40%;
        }
      }
      .filter-options {
        display: flex;
        align-items: center;
      }
      .search-option {
        display: flex;
        align-items: center;
      }
    }
    .product-list {
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
      .product {
        margin: 10px;
        padding: 15px;
        background-color: #f7f7f7;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        a {
          display: flex;
          width: 300px;
          height: 200px;
          img {
            max-width: 45%;
            max-height: 80%;
            margin-right: 10px;
            object-fit: contain;
          }
          .product-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
              text-align: center;
            }
            .price {
              font-size: 40px;
              text-align: right;
              padding: 0px 10px 10px 0px;
            }
          }
        }
        a:hover {
          .title,
          .description {
            text-decoration: underline;
          }
        }
        .add-cart {
          button {
            border: none;
            border-radius: 25px;
            background-color: #ffd814;
            height: 40px;
            width: 125px;
            box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
          }
          button:hover {
            background-color: #f7ca01;
            cursor: pointer;
          }
        }
      }
    }
  }
  .single-product {
    display: flex;
    background-color: #f7f7f7;
    img {
      max-width: 200px;
    }
  }
}
